<!doctype html>
<html>
   <head>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
	  <script type="text/javascript" src="script.js"></script>
	  <link rel="stylesheet" type="text/css" href="style.css">
   </head>
   
   <body ng-app = "myapp">
  
<div class="row" ng-controller = "HelloController" >
      <div class="column" >
         <h2 class="bder" ng-click="showHide(1)" ng-class="(isVisisble && !isCreate)?'clr':'noClr'">LIST</h2>
		 <div class="lst" ng-hide="isCreate">
		 <table class="lst" ng-show="isVisisble">
			<tr ng-repeat="x in Emails">
			<td><input type="checkbox" name="id"></td>
			<td ng-click="getReq(x.id)">{{x.from}}</td>
			<td ng-click="getReq(x.id)">{{x.subject}}</td>
			</tr>
			<tr>
			
			<td></td><td></td><td>
			<input type="submit" class="redClr" value="Delete"/></td>
			</tr>
		</table >
		<table class="lstCls" ng-hide="isVisisble">
			<tr><td><span>To:</span></td>
			<td >{{Email.to}}</td>
			</tr>
			<tr><td><span>Subject:</span></td>
			<td >{{Email.subject}}</td>
			</tr>
			<tr class="noborder"><td></td>
			<td >{{Email.text}}</td>
			</tr>
			<tr class="noborder"><td></td><td >
			<input type="submit" value="Prev">
			<input type="submit" class="clr" value="Next"></td>
			</tr>
		</table>
		</div>
      </div>
       <div class="column">
         <h2  class="bder" ng-click="showHide(2)" ng-class="isCreate?'clr':'noClr'">CREATE</h2> 
      </div>
	  <div  ng-show="isCreate">
		 <table class="lstCls">
		 <tr>
		 <td><span>To:</span></td>
		 <td><input type="text" name="to"></td>
		 </tr>
		 <tr>
		 <td><span>Subject:</span></td>
		 <td><input type="text" name="subject"></td>
		 </tr>
		 <tr>
		 <td></td>
		 <td><textarea name="text" rows="4" cols="50"></textarea></td>
		 </tr>
		 <tr><td></td>
		 <td><button type="button">Send</button></td>
		 </tr>
		 </table>
		</div>
   </div>   
   </body>
</html>